
.card{
    border: 1px solid #fff;
    background:#fff ;
    border-radius: 8px;
    overflow: hidden;
    height: 400px;
    color: black;

    margin: 0 auto;
    margin-top: 50px;
}

 /* the slides */
 .slick-slide > div{
    margin: 0 10px;
}

/* the parent */
.slick-list {
    margin: 0 -10px;
}
.card-top > h1{
    font-size: 1rem;
    margin: 10px 20px;
}

.card-top > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-bottom{
    margin: 10px 20px;
}

.category{
    position: relative;
}

/* .category::before{
    content: '';
    background: red;
    position: absolute;
    top:calc(100% + 10px);
    left: 0;
    right: 0;
    height: 2px;
} */